{% extends "dashboard-base.html" %}
{% block content %}
    <div id='hotels-list'>
        <div id='hotels-list-header bold'> Hotels Stayed </div>
        {% for hotel in hotels %}
            <div class='hotel-container'>
                <div class='hotel-header'><p> {{ hotel.name }} </p></div>
                <div class='hotel-rooms-container'>
                    {% for room in hotel.rooms %}
                        <div class='hotel-room'>
                            <div class='room-no bold'><p> Room {{ room.roomNo }} </p></div>
                            
                            <div class='room-price'><p> Price: {{ room.price }} </p></div>
                            <div class='room-time'><p> Stayed from {{ room.checkIn }} to {{ room.checkOut }} </p><div data="room-{{ hotel.name }}-{{ hotel.hotelId }}-{{ room.roomNo }}" class='review-room review-button review'><p> Review </p></div></div>
                        </div>
                        <div class='hotel-divider'></div>
                    {% endfor %}
                </div>
                <div class='services-list'>
                    <div class='services-header bold'><p> Services </p></div>
                    {% for service in hotel.services %}
                        <div class='service-item'><p>{{ service.stype }} - {{ service.price }}</p><a class='review-service review' data="service-{{ hotel.name }}-{{ hotel.hotelId }}-{{ service.stype }}"> Review </a></div>
                    {% endfor %}
                </div>
                <div class='breakfasts-list'>
                    <div class='breakfasts-header bold'><p> Services </p></div>
                    {% for breakfast in hotel.breakfasts %}
                        <div class='breakfast-item'><p>{{ breakfast.btype }} - {{ breakfast.desc }} - {{ breakfast.price }}</p><a class='review-breakfast review' data="breakfast-{{ hotel.name }}-{{ hotel.hotelId }}-{{ breakfast.btype }}"> Review </a></div>
                    {% endfor %}
                </div>
                <div class='reservation-date'><p class='bold'> Reservation Date</p><p> {{ hotel.resDate }} </p></div>
                <div class='total-cost'><p class='bold'> Total</p><p> {{ hotel.total }} </p></div>
                <div class='invoice-no'><p class='bold'> Invoice</p><p> {{ hotel.invoiceNo }} </p></div>
                <div class='review-hotel review' data="hotel-{{ hotel.name }}-{{ hotel.hotelId }}"><p> Review Hotel </p></div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(function () {
            $(".review").click(function () {
                let attrs = $(this).attr("data").split("-");
                let title = '';
                if (attrs[0] === "room") {
                    title = `Reviewing room No. ${attrs[2]} of Hotel at ${attrs[1]}`;
                } else if (attrs[0] === "service") {
                    title = `Reviewing ${attrs[3]} service of Hotel at ${attrs[1]}`;
                }
                if (attrs[0] === "hotel") {
                    title = `Reviewing hotel at ${attrs[1]}`;
                }
                if (attrs[0] === 'breakfast') {
                    title = `Reviewing ${attrs[3]} breakfast at ${attrs[1]}`;
                }
                console.log(title);
                window.location.href = "http://localhost:5001/review?title=" + title + "&data=" + $(this).attr("data");
            });
        });
    </script>
{% endblock %}
