{% extends "dashboard-base.html" %}
{% block content %}
    <div id='hotels-list'>
        {% for hotel in hotels %}
            <div class='dh-hotel-item' id='hotel-{{ hotel.id }}'>
                <div class='dh-hotel-hotel-room'>
                    <p class='hotel-name'> {{ hotel.name }} - {{ hotel.room }}</p>
                </div>
                <div class='dh-hotel-service-title'>
                    <p> Services </p>
                </div>
                <div class='dh-hotel-services-list'>
                    {% for service in hotel.services %}
                        <p> {{ service.name }} </p>
                    {% endfor %}
                </div>
                <div class='dh-hotel-stay-time'>
                    <p> Stayed from {{ hotel.checkIn }} to {{ hotel.checkOut }} </p>
                </div>
                <div class='dh-hotel-review-button-container'>
                    <div class='dh-hotel-review-button'>
                        <p> Write Review </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
