<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<script
		  src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
    <title>Dashboard</title>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles/dashboard-base.css') }}">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='styles/profile.css') }}">
  </head>
  <body>
	<div id='header'>

	</div>
	<div id='content'>
		{% block content %}{% endblock %}
    </div>
    <div id='sidebar'>
        <div class='sidebar-item' id='dh-sidebar-search' url='/search-page'>
            <p> Search </p>
        </div>
        <div class='sidebar-item' id='dh-sidebar-dashboard' url='/dashboard'>
            <p> Dashboard </p>
        </div>
        <div class='sidebar-item' id='dh-sidebar-profile' url='/profile'>
            <p> Profile </p>
        </div>
	</div>
  </body>
  <script>
    $(".sidebar-item").click(function () {
        console.log('http://localhost:5001/' + $(this).attr("url"));
        window.location.href = 'http://localhost:5001' + $(this).attr("url");
    });
  </script>
</html>
