<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<script
		  src="https://code.jquery.com/jquery-3.2.1.min.js"
		  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		  crossorigin="anonymous"></script>
    <title>Dashboard</title>
	<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dashboard.css') }}">
  </head>
  <body>
	<div id='header'>

	</div>
	<div id='content'>
		{% block content %}
		<div id='sidebar'>
            <div class='dh-sidebar-dashboard'>
                <p> Dashboard </p>
            </div>
            <div class='dh-sidebar-profile'>
                <p> Profile </p>
            </div>
		</div>
	</div>
  </body>
</html>
