<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hotel Details</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/hotelPage.css') }}">
  </head>
  <body>

    <section class="hero is-dark is-fullheight header-image">

    <div class="hero-head">
      <nav class="navbar">
        <div class="container">

          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a href="account.html" class="navbar-item">
                Profile
              </a>
              <a href="dashboard.html" class="navbar-item">
                Dashboard
              </a>
              <a href='/search-page' class="navbar-item">
                Search
              </a>
              <a href="/checkout" class="navbar-item" method="Get">
                Checkout
              </a>
            </div>
          </div>
        </div>
      </nav>

    <div class="container has-text-centered">
        <div class="box has-text-centered login">
            <h1 class="title is-large titleColored">
                {{hotelInfo["address"]}}
            </h1>
            <h2 class="subtitle titleColored">
                Phone Number: {{hotelInfo["phone"]}}
            </h2>
            <p>
                {{hotelInfo["entry"]}} to {{hotelInfo["depart"]}}
                <br>
                Room Minimum: ${{hotelInfo["min"]}} &#8729 Room Maximum: ${{hotelInfo["max"]}}
            </p>

            <p><b>Breakfast Options</b>
            {% if hotelInfo["breakfast"]|count < 1 %}
                : None
            {% endif %}
            {% for b in hotelInfo["breakfast"] %}
            <span class="tag">

                {{b["BType"]}} at ${{b["BPrice"]}}
            </span>
            {% endfor %}
            </p>

            <p><b>Service Options:</b>
            {% if hotelInfo["service"]|count < 1 %}
                : None
            {% endif %}
            {% for s in hotelInfo["service"] %}
            <span class="tag">
                {{s["SType"]}} at ${{s["SCost"]}}
            </span>
            {% endfor %}
            </p>
            <br>
            <p class="is-size-7">
            REMINDER: The Amount of Breakfast Options Per Room will be specified during checkout!
            </p>
        </div>

      </div>

    </div>



    <div class="hero-body">
      <div class="container has-text-centered">

        <div class="box has-text-centered login">

        </div>

        
      </div>
    </div>

    </section>


        <h2>{{hotelInfo["address"]}}</h2>
        <h3>{{hotelInfo["phone"]}}</h3>
        <h5>{{hotelInfo["entry"]}} to {{hotelInfo["depart"]}}</h5>
        <h5>Room Minimum: ${{hotelInfo["min"]}} - Room Maximum: ${{hotelInfo["max"]}} </h5>
        <h5>Breakfast Options</h5>
        {% for b in hotelInfo["breakfast"] %}
            <li> {{b["BType"]}} at ${{b["BPrice"]}} </li>
        {% endfor %}
        <h5>Service Options</h5>
        {% for s in hotelInfo["service"] %}
            <li> {{s["SType"]}} at ${{s["SCost"]}} </li>
        {% endfor %}
        <h5>REMINDER: The Amount of Breakfast Options Per Room will be specified during checkout!<h5>


        <br><br><br>
        {% if hotelInfo["rooms"]|length == 0 %}
            <p>No Rooms with open space, please try again at a later date!</p>
        {% else %}
        <form action="/add_checkout" method="POST">
            {% for room in hotelInfo["rooms"] %}
                <br>
                <h4>Room Number: {{room['RoomNo']}}</h4>
                {% if room['Discount'] != 0 %}
                  <p>This Room has a discount of {{room["Discount"]}}%!</p>
                {% endif %}
                <ul>Floor: {{room['FloorNo']}}</ul>
                <ul>Room Price Per Night: {{room['Price']}}</ul>
                <ul>Room Capacity: {{room['Capacity']}}</ul>
                <ul>Room Description: {{room['Description']}}</ul>
                {% if room['Discount'] != 0 %}
                  <input type="checkbox" name="add_check" value='{"id":{{hotelInfo['id']}},"roomNo":{{room['RoomNo']}},"entry":"{{hotelInfo['entry']}}","depart":"{{hotelInfo['depart']}}","discount":{{room['Discount']}}}'>Add To Checkout<br>
                {% else %}
                  <input type="checkbox" name="add_check" value='{"id":{{hotelInfo['id']}},"roomNo":{{room['RoomNo']}},"entry":"{{hotelInfo['entry']}}","depart":"{{hotelInfo['depart']}}","discount":0}'>Add To Checkout<br>
                {% endif %}

                <br>
            {% endfor %}
            <button type="submit">Checkout</button>
        </form>
        {% endif %}


  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/hotelPage.js') }}" type="text/javascript"></script>
</html>
