<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hotel Details</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/hotelPage.css') }}">
  </head>
  <body>

    <section class="hero is-dark is-fullheight header-image">

    <div class="hero-head">
      <nav class="navbar">
        <div class="container">

          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a href="/profile" class="navbar-item">
                Profile
              </a>
              <a href="/dashboard" class="navbar-item">
                Dashboard
              </a>
              <a href="/stats" class="navbar-item">
                Statistics
              </a>
                    <a href='/search-page' class="navbar-item">
                Search
              </a>
              <a href="/checkout" class="navbar-item" method="Get">
                Checkout
              </a>
            </div>
          </div>
        </div>
      </nav>

    <div class="container has-text-centered">
        <div class="box has-text-centered login">
            <h1 class="title is-large titleColored">
                {{hotelInfo["address"]}}
            </h1>
            <h2 class="subtitle titleColored">
                Phone Number: {{hotelInfo["phone"]}}
            </h2>
            <div class="container is-grouped is-grouped-centered has-text-centered">
                <p><b><u> Your Stay Details </u></b></p>
                <p>
                    {{hotelInfo["entry"]}} to {{hotelInfo["depart"]}}
                </p>
                <p>
                    
                    Room Minimum: ${{hotelInfo["min"]}} &#8729 Room Maximum: ${{hotelInfo["max"]}}
                </p>

                <div class="container is-grouped is-grouped-centered">
                    <p><b>Breakfast Options</b>
                    {% if hotelInfo["breakfastReviews"]|count < 1 %}
                        : None
                    {% endif %}

                    {% for b in hotelInfo["breakfastReviews"] %}
                    <div style="display: inline-block;" class="tagHolder">
                        <span class="tag is-info">
                            {{b[0]}} at ${{b[1]}}
                        </span>
                    
                        <div style="display: none;" class="container">
                          <div class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                              <div class="box">
                              {% if b[2]|count < 1 %}
                              <p> No Reviews </p>
                              {% else %}
                                <p><b>Reviews</b></p><br>
                              {% endif %}

                              {% for review in b[2] %}
                                <article class="media">
                                    <div class="media-left">
                                        <span class="tag">
                                        {{review["rate"]}}
                                        </span>
                                    </div>
                                    <div class="media-content">
                                        <p>{{review["tc"]}}</p>
                                    </div>
                                </article>
                                {% endfor %}
                              </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                          </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>

                <div class="container is-grouped is-grouped-centered">
                    <p><b>Service Options</b></p>
                    {% if hotelInfo["serviceReviews"]|count < 1 %}
                        : None
                    {% endif %}
                    {% for s in hotelInfo["serviceReviews"] %}
                        
                    <div style="display: inline-block;" class="tagHolder">
                        <span class="tag is-info">
                            {{s[0]}} at ${{s[1]}}
                        </span>
                        
                        <div style="display: none;" class="container">
                          <div class="modal">
                            <div class="modal-background">
                            </div>
                            <div class="modal-content">
                              <div class="box">
                                {% if s[2]|count < 1 %}
                                <p> No Reviews </p>
                                {% else %}
                                <p><b>Reviews</b></p><br>
                                {% endif %}
                              {% for review in s[2] %}
                                <article class="media">
                                <div class="media-left">
                                    <span class="tag">
                                    {{review["rate"]}}
                                    </span>
                                </div>
                                <div class="media-content">
                                    <p>{{review["tc"]}}</p>
                                </div>
                                    

                                    
                                </article>
                                {% endfor %}
                              </div>
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                          </div>
                        </div>
                        
                    </div>
                    
                    {% endfor %}
                </div>

                <br>
                <p class="is-size-7">
                REMINDER: The Amount of Breakfast Options Per Room will be specified during checkout!
                </p>
            </div>
        </div>

      </div>

    </div>



    <div class="hero-body">
      <div class="container">

        {% if hotelInfo["rooms"]|length == 0 %}
        <div class="box has-text-centered login">
            <p>No Rooms with open space, please try again at a later date!</p>
        </div>
        {% else %}
            <form action="/add_checkout" method="POST">
            {% for room in hotelInfo["rooms"] %}
             <div class="box login">
                <article class="media">
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-3 titleColored">Room Number: {{room['RoomNo']}}</h3>
                            {% if room['Discount'] != 0 %}
                              <p>This Room has a discount of {{room["Discount"]}}%!</p>
                            {% endif %}
                            <h4 class="subtitle is-4 titleColored">Floor: {{room['FloorNo']}}</h4>
                            <button type="button" class="button reviewButton">Reviews</button>
                            <br><br>
                            {% if room['Discount'] != 0 %}
                              <input type="checkbox" class="checkbox" name="add_check" value='{"id":{{hotelInfo['id']}},"roomNo":{{room['RoomNo']}},"entry":"{{hotelInfo['entry']}}","depart":"{{hotelInfo['depart']}}","discount":{{room['Discount']}}}'>Add To Checkout
                            {% else %}
                              <input type="checkbox" class="checkbox" name="add_check" value='{"id":{{hotelInfo['id']}},"roomNo":{{room['RoomNo']}},"entry":"{{hotelInfo['entry']}}","depart":"{{hotelInfo['depart']}}","discount":0}'>Add To Checkout
                            {% endif %}
                            
                        </div>
                        <div class="column">
                        <p><b>Room Description:</b> {{room['Description']}}</p>
                        <p><b>Room Price Per Night:</b> {{room['Price']}}</p>
                        <p><b>Room Capacity:</b> {{room['Capacity']}}</p>
                        </div>
                    </div>

                </article>

                
                <div style="display: none;" class="roomReviews has-text-centered">
                <hr>
                    <p><b><u>Reviews</u></b></p>
                    {% if room['Reviews']|count < 1 %}
                        <br>None
                    {% endif %}

                    {% for review in room['Reviews'] %}
                    <br>

                        <div>
                            <span class="tag is-inline-block">
                            {{review["rate"]}}
                            </span>
                            <p class="is-inline-block"> {{review["tc"]}} </p>
                        </div>
                {% endfor %}
                </div>
                
            </div>
            {% endfor %}
            <div style="text-align:center">
            <button class="button" id="checkoutButton" type="submit">Checkout</button>
            </div>
            </form>
        {% endif %}
        
      </div>
    </div>

    </section>


<!--         <h2>{{hotelInfo["address"]}}</h2>
        <h3>{{hotelInfo["phone"]}}</h3>
        <h5>{{hotelInfo["entry"]}} to {{hotelInfo["depart"]}}</h5>
        <h5>Room Minimum: ${{hotelInfo["min"]}} - Room Maximum: ${{hotelInfo["max"]}} </h5>
        <h5>Breakfast Options</h5>
        {% for b in hotelInfo["breakfast"] %}
            <li> {{b["BType"]}} at ${{b["BPrice"]}} </li>
        {% endfor %}
        <h5>Service Options</h5>
        {% for s in hotelInfo["service"] %}
            <li> {{s["SType"]}} at ${{s["SCost"]}} </li>
        {% endfor %}
        <h5>REMINDER: The Amount of Breakfast Options Per Room will be specified during checkout!<h5>


        <br><br><br>
        {% if hotelInfo["rooms"]|length == 0 %}
            <p>No Rooms with open space, please try again at a later date!</p>
        {% else %}
        <form action="/add_checkout" method="POST">
            {% for room in hotelInfo["rooms"] %}
                <br>
                <h4>Room Number: {{room['RoomNo']}}</h4>
                {% if room['Discount'] != 0 %}
                  <p>This Room has a discount of {{room["Discount"]}}%!</p>
                {% endif %}
                <ul>Floor: {{room['FloorNo']}}</ul>
                <ul>Room Price Per Night: {{room['Price']}}</ul>
                <ul>Room Capacity: {{room['Capacity']}}</ul>
                <ul>Room Description: {{room['Description']}}</ul>
                {% if room['Discount'] != 0 %}
                  <input type="checkbox" name="add_check" value='{"id":{{hotelInfo['id']}},"roomNo":{{room['RoomNo']}},"entry":"{{hotelInfo['entry']}}","depart":"{{hotelInfo['depart']}}","discount":{{room['Discount']}}}'>Add To Checkout<br>
                {% else %}
                  <input type="checkbox" name="add_check" value='{"id":{{hotelInfo['id']}},"roomNo":{{room['RoomNo']}},"entry":"{{hotelInfo['entry']}}","depart":"{{hotelInfo['depart']}}","discount":0}'>Add To Checkout<br>
                {% endif %}

                <br>
            {% endfor %}
            <button type="submit">Checkout</button>
        </form>
        {% endif %} -->


  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/hotelPage.js') }}" type="text/javascript"></script>
</html>
