<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    {% if error and length != 0 %}
      <h3>There was an error with your query, check your:</h3>
      {% for e in error %}
        <li>{{e}}</li>
      {% endfor %}
    {% endif %}
    <form action="/search" method="POST">
        <h2>Search Page</h2>
        **For more than 1 country/state, put a comma between each new country/state**
        <br>Countries:<br>
        <input type="text" name="country"><br>
        <br>
        States:<br>
        <input type="text" name="state"><br>
        <br>
        Check-In Date----Check-Out Date:<br>
        <input type="date" name="entry">----<input type="date" name="depart">
        <br>
        Minimum - Maximum Cost
        <input type="text" name="min">-------<input type="text" name="max">
        <br><br>
        <fieldset>
        <legend>Please select Services you want:</legend>
        <input type="checkbox" name="service" value="Casino">Casino<br>
        <input type="checkbox" name="service" value="Coference rooom">Conference Room<br>
        <input type="checkbox" name="service" value="Gym">Gym<br>
        <input type="checkbox" name="service" value="Pool">Pool<br>
        <input type="checkbox" name="service" value="Jaqcuuzi">Jaqcuuzi<br>
		<input type ="checkbox" name = "service" value = "Maid">Maid<br>
		<input type = "checkbox" name = "service" value = "Track">Track<br>
        <br>
        </fieldset>
        <br><br>
        <fieldset>
        <legend>Please select Breakfasts you want:</legend>
        <input type="checkbox" name="breakfast" value="American">American<br>
        <input type="checkbox" name="breakfast" value='Contential'>Contential<br>
        <input type="checkbox" name="breakfast" value="English">English<br>
        <input type="checkbox" name="breakfast" value="French">French<br>
        <input type="checkbox" name="breakfast" value="Indian">Indian<br>
        <input type="checkbox" name="breakfast" value="Italian">Italian<br>
        <input type="checkbox" name="breakfast" value="Mexican">Mexican<br>

        <br>
        </fieldset>
        <button type="submit">Search</button>
	<form>
    {% if result %}
	<form>
      {% for hotel in result %}
	   Hotel Address: {{hotel['Street']}}   {{hotel['City']}}  {{hotel['State']}}  {{hotel['Zip']}} <br> 
	   Hotel Phone Number: {{hotel['PhoneNo']}} <br> <button type = 'submit' value = "{ id: {{hotel['HotelId']}}, results:{{form_data}}}}" > Click Here </button>
      {% endfor %}
	</form>
    {% endif %}
  </body>
</html>
