<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form action="/search" method="POST">
        <h2>Search Page</h2>
        What are you looking for?:<br>
        <input type="text" name="search"><br>
        <br>
        Minimum - Maximum Cost
        <input type="text" name="min">-------<input type="text" name="max">
        <br><br>
        <fieldset>
        <legend>Please select Services you want:</legend>
        <input type="checkbox" name="service" value="Service 1">Service 1<br>
        <input type="checkbox" name="service" value="Service 2">Service 2<br>
        <input type="checkbox" name="service" value="Service 3">Service 3<br>
        <input type="checkbox" name="service" value="Service 4">Service 4<br>
        <input type="checkbox" name="service" value="Service 5">Service 5<br>
        <br>
        </fieldset>
        <br><br>
        <fieldset>
        <legend>Please select Breakfasts you want:</legend>
        <input type="checkbox" name="breakfast" value="Breakfast 1">Breakfast 1<br>
        <input type="checkbox" name="breakfast" value="Breakfast 2">Breakfast 2<br>
        <input type="checkbox" name="breakfast" value="Breakfast 3">Breakfast 3<br>
        <input type="checkbox" name="breakfast" value="Breakfast 4">Breakfast 4<br>
        <input type="checkbox" name="breakfast" value="Breakfast 5">Breakfast 5<br>
        <br>
        </fieldset>
        <button type="submit">Search</button>
    </form>
    {% if result %}
      {% for hotel in result %}
        <li>Hotel Name: {{hotel['HName']}}</li>
        <li>Hotel Phone Number: {{hotel['Phone']}} </li>
      {% endfor %}
    {% endif %}
  </body>
</html>
