<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    {% if error and length != 0 %}
      <h3>There was an error with your query, check your:</h3>
      {% for e in error %}
        <li>{{e}}</li>
      {% endfor %}
    {% endif %}
    <form action="/search" method="POST">
        <h2>Search Page</h2>
        **For more than 1 country/state, put a comma between each new country/state**
        <br>Countries:<br>
        <input type="text" name="country"><br>
        <br>
        States:<br>
        <input type="text" name="state"><br>
        <br>
        Check-In Date----Check-Out Date:<br>
        <input type="date" name="entry">----<input type="date" name="depart">
        <br>
        Minimum - Maximum Cost
        <input type="text" name="min">-------<input type="text" name="max">
        <br><br>
        <fieldset>
        <legend>Please select Services you want:</legend>
        <input type="checkbox" name="service" value="Service 1">Service 1<br>
        <input type="checkbox" name="service" value="Service 2">Service 2<br>
        <input type="checkbox" name="service" value="Service 3">Service 3<br>
        <input type="checkbox" name="service" value="Service 4">Service 4<br>
        <input type="checkbox" name="service" value="Service 5">Service 5<br>
        <br>
        </fieldset>
        <br><br>
        <fieldset>
        <legend>Please select Breakfasts you want:</legend>
        <input type="checkbox" name="breakfast" value="Breakfast 1">Breakfast 1<br>
        <input type="checkbox" name="breakfast" value="Breakfast 2">Breakfast 2<br>
        <input type="checkbox" name="breakfast" value="Breakfast 3">Breakfast 3<br>
        <input type="checkbox" name="breakfast" value="Breakfast 4">Breakfast 4<br>
        <input type="checkbox" name="breakfast" value="Breakfast 5">Breakfast 5<br>
        <br>
        </fieldset>
        <button type="submit">Search</button>
    </form>
    {% if result %}
      {% for hotel in result %}
        <li>Hotel Name: {{hotel['HName']}}</li>
        <li>Hotel Phone Number: {{hotel['Phone']}} </li>
      {% endfor %}
    {% endif %}
  </body>
</html>
