@mixin background($color) {
    background: $color;
    background-color: $color;
};

@mixin padding($left, $top, $right, $bottom) {
    padding-left: $left;
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
};

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    @include background(#872ef4);
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    @include background(#ffffff);
}

#hotels-list {
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-x: auto;
    @include padding(10px, 00, 10px, 0);
}

$hotel-details-font: 12px;
.breakfast-item, .service-item, .room-time, .reesrvation-date, .total-cost, .invoice-no, .reservation-date {
    display: flex;
    flex-flow: row;
}

.bold {
    margin-right: 10px;
    font-weight: bold;
}

.room-no, .room-time, .room-price, .review-button {
    font-size: $hotel-details-font;
}

.review-button {
    margin-left: 15px;
    
}

.hotel-divider {
    width: 100%;
    height: 1px;
    @include background(#888888);
}

.breakfast-item, .service-item, .room-time {
    align-items: center;
}

.breakfast-item a, .service-item a {
    margin-left: 10px;
}

.review {
    display: flex;
    width: 60px;
    height: 10px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background: #872ef4;
    font-size: 12px;
}

.hotel-container {
    border: 2px solid #222222;
    padding: 5px;
    margin: 5px;
}

.review-hotel {
    width: 100px;
}
