.titleColored {
 color: #363636!important;
}
#checkoutButton{
	margin: 0 auto;
	position: relative;
}

.header-image {
    background-image: url(../photos/hotelDetails.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
.box {
	
	background: rgba(255, 255, 255, 0.85);
}